body{
    
    margin: 0;
    padding:0;
    font-family: sans-serif;   
    background: #262626;
}
#menu {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px;
    background-color:white;
    width: auto;
    height: 20px;
    margin: auto;
    overflow: hidden;
     text-align: right;
    box-shadow: 10px 5px
    
}
#menu ul li a{
    color: black;
    font-size: 20px;
    	padding: 03px 5px;
    text-decoration: none;
  
}
#menu ul{
	display: inline;
    padding: 5px 5px;
  
}
#menu ul li {
 
  list-style: none;
      padding-right: 30px; 
    display: inline;
    
    
}
#menu ul li a:hover{
    color: skyblue;
    
}
.card ul
{
    
    margin: 0;
    padding: 0;
    position: absolute;
    color:black;
    left:40%;
    top:30%;
}
.card ul li{
    
   display: block;
    width: 240px;
    height: 280px;
    background: #fff;
    position: absolute;
    box-shadow:10px 10px 20px rgba(0,0,0,.5);
    top:0;
    left: 0;
    transform-origin: bottom center;
    transform:rotate(10deg) skew(-30deg);
    transition: .5s;
}
.card ul li span img
{
    height: 100%;
    width:100%;
    display:block;
    color:#ccc;
    text-align: center;
    font-size: 2em;
    line-height: 280px
}
.card ul li:nth-child(1){
    transform: rotate(10deg) skew(-30deg) translate(15px,15px);
}

.card ul li:nth-child(2){
    transform: rotate(10deg) skew(-30deg) translate(0px,0px);
}
.card ul li:nth-child(3){
    transform: rotate(10deg) skew(-30deg) translate(-15px,-15px);
}
.card ul:hover li:nth-child(1){
    transform: rotate(5deg) skew(0deg) translate(200px,0);
}
.card ul:hover li:nth-child(2){
    transform: rotate(0deg) skew(0deg) translate(0,0);
}
.card ul:hover li:nth-child(3){
    transform: rotate(-5deg) skew(0deg) translate(-200px,0);
}
.card ul li:before{
    content: '';
    position:absolute;
    width:50%;
    height: 10px;
    left: 0;
    bottom: 0;
    background:#fc2427;
    transition: .5%;
    
}
.card ul li:after{
    content: '';
    position:absolute;
    width:50%;
    height: 10px;
    right: 0;
    bottom: 0;
    background:#262626;
    transition: .5%;
    
}
.card ul li:hover:before
{
   left: 50%;
    
}
.card ul li:hover:after
{
   right: 50%;
    
}
